/*
Author: Samantha Abraham
Date: 4/1/2024
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Style for table element */
table {
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #71881b;
}

/* Style for table, tr, th, td selectors */
table, tr, th, td {
  border-collapse: collapse;
  padding: 2%;
}

/* Style for caption element */
caption {
  font-size: 2em;
  padding: 2%;
  margin-top: 2%;
}

/* Style for th and td selectors */
th, td {
  border: 1px solid #7188bb;
}

/* Style for td selector */
td {
  text-align: center;
}

/* Style for tr selector odd rows */
tr:nth-child(odd) {
  background-color: #d3e788;
}
